@font-face {
    font-family: "Roboto Medium";
    src: url("../font/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../font/Roboto/Roboto-Regular.ttf");
}

body {
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.header-section {
  background-color: #f4f4f4;
  height: 70px;
}

.header-section-logo, .header-section-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-section-logo {
  margin-left: 50px;
}

.header-section-logo > p {
  color: #555555;
  font-size: 18px;
  margin-left: 15px;
}

.header-section-info {
  margin-right: 50px;
}

.header-section-info > button {
  height: 40px;
  margin-left: 15px;
  background-color: #AB608B;
  border: 2px solid transparent;
  text-align: center;
  font-size: 12px;
}

.header-section-info > button:hover {
  background-color: white;
  color: #AB608B !important;
  border: 2px solid #AB608B;
}

.header-section-info > a {
  font-style: italic;
  font-size: 12px;
  color: #6A4E77;
}

#navbar {
  position: sticky;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
  background-color: white;
}

#navbar > nav {
  margin: 0 50px;
  min-height: 60px;
  height: auto;
}

#navbar > hr {
  margin: 0 !important;
  border: 1.4px solid lightgrey;
}

.navbar-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  height: 60px;
}

.search_bar {
  display: flex;
  align-self: flex-end;
  height: 40px;
  width: 180px;
  font-size: 13px;
  color: #676C72;
  background: #D1D3D4 0% 0% no-repeat padding-box;
}

.form-search {
  align-self: center;
  margin-left: auto;
}

.footer-links div.row {
  padding-left: 50px;
  padding-right: 50px;
}

button.navbar-toggler {
  display: flex;
  align-self: center;
  height: 45px;
}

.navbar-nav a.active {
    border-bottom: 2px solid #000000;
    border-bottom-style: outset;
}

/*.alert-important {
  margin-top: 62px;
}*/

.alert-important > div.carousel-inner > div.carousel-item {
  height: 50px;
}

.alert-important .carousel-item {
  height: 8vh;
  background-color: #202124;
  color: white;
  text-align: center;
  padding-top: 1vh;
  font-size: 13px;
}

.alert-important .carousel-indicators {
  margin-bottom: 0;
}

.menu-navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  border-right: 1px solid #eee;
  z-index: 3;
  width: 250px;
  margin-left: -250px;
  transition: transform .4s ease;
  overflow-y: scroll;
}

.navbar-nav-mobile {
  margin-top: 40px;
}

.menu-mobile-content {
  padding: 0;
}

.menu-mobile-content .list-group a {
  padding-left: 40px;
  font-size: 12px;
}

.navbar-nav-mobile a.active {
  background-color: #484a52;
}

.navbar-nav-mobile a.active-sublist {
  font-weight: bold;
}

.navbar-nav-mobile a {
  border: 0;
  font-family: "Roboto Medium";
}

.close-mobile-menu {
  position: absolute;
  display: block;
  top: 0px;
  right: 10px;
  font-size: 30px;
}

.close-mobile-menu:hover {
  cursor: pointer;
}

.toggle-menu-mobile {
  transform: translateX(250px);
}

div.col-sm {
  padding: 0px !important;
}

.footer-links div.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 250px;
  height: auto;
  background-color: #484a52;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  height: auto;
  background-color: #363232;
}

.footer-info p {
  margin: 0px 5px !important;
  padding: 0px !important;
  align-self: center;
}

.card {
  background-color: #484a52 !important;
  font-size: 13px;
  width: 30%;
}

.fs-18 {
  font-size: 18px;
}

.fs-15 {
  font-size: 15px;
}

.fs-12 {
  font-size: 12px;
}

.op-6 {
  opacity: .6 !important;
}

.header-body-card {
  flex-direction: column;
  justify-content: space-between;
}

.btn-card {
  background-color: #AB608B;
  padding: 5px;
}

.mainSection {
  padding: 20px 0px;
}

.sticky-decoration {
    box-shadow: 0 3px 10px 2px grey;
}

.uy1-link {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 12px;
  color: #6A4E77 !important;
  cursor: pointer;
  display: none;
}

.scroll-menu {
  padding-bottom: -30px;
}

@media screen and (max-width: 993px) {
  .last-navbar {
    display: none !important;
  }

  .last-navbar {
    display: none;
  }

  .first-navbar .navbar-nav {
    display: none;
  }

  .alert-important {
    margin-top: 0px;
  }
}

@media screen and (max-width: 800px) {
  .footer-links div.row {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-info {
    flex-direction: column;
  }

  .footer-info p, .footer-info div {
    align-self: flex-start;
    margin-top: 10px;
  }

  .card {
    width: 100%;
  }

  .header-section-logo {
    margin-left: 5px;
  }

  .header-section-info {
    margin-right: 5px;
  }

  .first-navbar {
    margin: 10px !important;
  }
}

@media screen and (max-width: 500px) {
  .header-section-info a {
    display: none;
  }

  .uy1-link {
    display: block;
  }

  .header-section {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 0;
  }
}
