@font-face {
    font-family: "Roboto Bold";
    src: url("../font/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../font/Roboto/Roboto-Regular.ttf");
}

.chef-word--title {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 5px lightgrey;
  margin-bottom: 10px;
}

.chef-word {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 35px;
  padding-right: 35px;
}

#chef-card {
  width: 100%;
  box-shadow: 0px 3px 8px lightgrey;
  align-self: center;
}

#chef-card hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

#chef-card,
#chef-card div.card-body {
  border: 0;
  background-color: white !important;
}

#chef-card div.card-body {
  padding: 10px 15px 15px 15px;
}

.chef-card--header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.chef-card--info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 30px;
}

.chef-card--info span:first-child {
  font-size: 14px;
  font-family: "Roboto Bold";
}

.chef-card--info span:last-child {
  font-size: 13px;
  font-family: "Roboto regular";
}

.chef-card--header img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.section-lists-photo {
  margin-top: 30px;
  background-color: white;
  padding: 10px;
}

.list-photo--main {
  display: block;
  padding: 10px 50px;
}

.list-photo--main > .list-item {
  width: 200px;
}

.list-photo--header {
  margin-left: 50px;
  font-size: 18px;
  font-family: "Roboto Regular";
  color: #6a4e77;
}

.modal-body--header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
}

.modal-body--close {
  font-size: 34px !important;
  color: white;
  margin-right: 20px;
}

.modal-body--close:hover {
  cursor: pointer;
}

.modal-body--content {
  height: 350px !important;
  width: 100%;
}

.modal-body--content img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .chef-word {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  #chef-card {
    width: 100% !important;
  }

  .list-photo--main {
    padding: 10px 15px;
  }

  .list-photo--header {
    margin-left: 30px;
  }

  .modal-body--content {
    height: 300px;
    width: 100%;
  }
}
